##TEAM MEMBERS

Aidan Stautland, 502841; Christian Torhaug, 564355; Jens Skaug, STUDID

In [2]:
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go

In [3]:
train = pd.read_csv('~/Ais_Data/ais_train.csv', sep='|')
train['time'] = pd.to_datetime(train['time'])
train.tail()

,time,cog,sog,rot,heading,navstat,etaRaw,latitude,longitude,vesselId,portId
1522060,2024-05-07 23:59:07,359.1,13.4,0,1,0,05-08 05:00,52.19131,-5.82223,clh6aqawa0002gh0zypfa5dut,634c4de270937fc01c3a7417
1522061,2024-05-07 23:59:08,12.3,17.1,0,13,0,05-10 03:00,38.96142,-12.00502,61e9f3aeb937134a3c4bfe43,634c4de270937fc01c3a76a1
1522062,2024-05-07 23:59:08,269.8,14.9,-1,270,0,05-15 23:00,49.71372,-5.22042,61e9f43db937134a3c4c0169,634c4de270937fc01c3a787b
1522063,2024-05-07 23:59:08,8.0,18.7,0,6,0,05-08 12:45,38.27895,10.78280,61e9f469b937134a3c4c029b,61d3781293c6feb83e5eb73b
1522064,2024-05-07 23:59:08,336.0,14.3,5,337,0,05-07 23:00,38.98635,-75.13275,62080cff66fc0a8e43c6123a,61d38528b7b7526e1adf3e6f

In [7]:
df = train[train['vesselId'] == "61e9f3aeb937134a3c4bfe3d"].sort_values(by='time')

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1939 entries, 44159 to 1521883
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   time       1939 non-null   datetime64[ns]
 1   cog        1939 non-null   float64
 2   sog        1939 non-null   float64
 3   rot        1939 non-null   int64
 4   heading    1939 non-null   int64
 5   navstat    1939 non-null   int64
 6   etaRaw     1939 non-null   object
 7   latitude   1939 non-null   float64
 8   longitude  1939 non-null   float64
 9   vesselId   1939 non-null   object
 10  portId     1939 non-null   object
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 181.8+ KB